.center-div {
    text-align: center;
}

body {
    font-family: "Inconsolata", monospace;
    height: 100%;
    margin: 0;
}

#displayed-word {
    font-size: 60px;
    font-weight: 600;
    color: #e7e08b;
}

.btn {
    color: #ffc4d1;
}

h2 {
    color: #b1b7d1;
    font-weight: 800;
}

.center-section {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

h1 {
    color: #5dfdcb;
    font-weight: 800;
}

#instructions {
    display: inline-block;
    clear: left;
    width: 500px;
    text-align: left;
    font-size: 14pt;
    color: #d6d1b1;
}

input[type="text"] {
    background-color: #94849b;
    color: white;
}

input[type="submit"] {
    background-color: #b1b7d1;
    color: white;
}
